.form {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    gap: 4em;
    width: 100vw;
    height: auto;
    margin: 0 auto;
}

.formContent {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.clientData {
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-color: #FFF;
    padding: 1.5em 2em;
    border-radius: 8px;
}

.clientData h2 {
    color: #0C4570;
}

@media (max-width: 800px) {
    .form {
        gap: 1em;
    }

    .formContent {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        align-items: center;
        gap: 2em;
        min-height: 100vh;
    }

    .clientData {
        width: 100vw;
        border-radius: 0;
    }
}