.container_01 {
    background: linear-gradient(45deg, #0C4570, #167FCF);
    display: flex;
    flex: 1 0 auto;
    justify-content: space-around;
    align-items: center;
}

.container_02 {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    gap: 8em;
    align-items: center;
    padding-bottom: 1.5em;
    width: 100%;
    max-width: 100vw;
    min-height: 100vh;
    background: linear-gradient(45deg, #0C4570, #167FCF);
}

.container_03 {
    background: linear-gradient(45deg, #0C4570, #167FCF);
    min-width: 100vw;
    min-height: 100vh;
}

@media (max-width: 800px) {
    .container_01, .container_02 {
        gap: 1em;
    }
}