.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    max-width: 100%;
    width: 100%;
    top: 0;
    padding: 1em;
}

.header-logo {
    height: 4rem;
}