.login-label {
    color: #000;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 4px 0;
}

.video-file-label {
    background-color: #4CAF50;
    border-radius: 8px;
    padding: .5em;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.video-label {
    color: #0C4570;
}

@media (max-width: 800px) {
    .video-file-label {
        width: 100%;
        gap: .5em;
    }
}